#petDetail{
  margin-bottom: 15vw;
}
.xiaoyuan_gift{
    overflow: hidden;
    height: 76vw;
}
.xiaoyuan_gift>img{
    height: auto;
    width: 100%;
}
.pet_notice{
    display: flex;
    align-items: flex-start;
}
.pet_notice>img{
    margin-right: 2vw;
}
.video_item{
  position: relative;
}
.pet_video{
  width: 100%;
}
.video_start{
    width: 30px;
    height: 30px;
    position: absolute;
    left: calc( 50% - 15px );
    top: calc( 50% - 15px );
    z-index: 99;
    border-radius: 100%;
}
.unlock_video{
  position: absolute;
  color: #fff;
  left: 0;
  right: 0;
  top: 50%;
  transform: translate( 0, -50%);
  text-align: center;
  font-size: 5vw;
}
.org_phone{
  color: var(--light-green-color);
}
.org_phone:before{
  content:url(../images/pet_detail/phone.svg) !important
}