.pag_content{
    display: flex;
    justify-content: center;
    margin:30px auto;
}
.pag_toFirst,.pag_toEnd{
    padding: 2px 5px;
    color: #706d6d;
    font-size: 13px;
    border: 1px solid #DEDEDE;
    cursor: pointer;
    border-radius: 4px;
    letter-spacing: 1.1px;
    margin-right: 5px;
}
.pag_toNext,.pag_toBefore{
    padding: 2px 5px;
    color: #706d6d;
    font-size: 13px;
    border: 1px solid #DEDEDE;
    cursor: pointer;
    border-radius: 4px;
    letter-spacing: 1.1px;
    margin-right: 5px;
}

.pag_page,.pag_numpage,.pag_num{
    padding: 2px 5px;
    color: #706d6d;
    font-size: 13px;
    border: 1px solid #DEDEDE;
    /*cursor: pointer;*/
    border-radius: 4px;
    letter-spacing: 1.1px;
    margin-right: 5px;
}
.pag_page{
    background: rgba(74, 144, 226, 1);
    color: #fff;
}
.pag_topage{
    padding: 2px 5px;
    color: #706d6d;
    font-size: 13px;
    border: 1px solid #DEDEDE;
    cursor: pointer;
    border-radius: 4px;
    letter-spacing: 1.1px;
    margin-right: 5px;
}
.pag_topage input{
    border: none;
    width: 30px;
    /*background: #fff;*/
    text-align: center;
    border-bottom: #0C0C0C 1px solid;
    outline: none;
}